---
title: Page introuvable
layout: page
permalink: /404.html
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

<div>
    <div class="logo"></div>
    <h2>{{ title | safe }}</h2>
    <p>Cette page n'existe pas</p>
    <a href="/" class="button primary">Revenir à l'accueil</a>
</div>